<h1>The Muffington Post</h1>

<form action="/articles" method="post">
  <input type="text" id = "title" name="article[title]">
  <input type="text" id = "content" name="article[content]">
 <button type="submit" value="submit">Submit</button>
</form>